img.about {
  float: right;
  width: 800px;
}

img.remodel {
  float: left;
  width: 370px;
}

.column1 {
  width: 400px;
  float: left;
  background-color: grey;
}

.column2 {
  width: 400px;
  float: left;
  background-color: black;
  color: white;
}

.column3 {
  width: 400px;
  float: left;
  background-color: blue;
}


/*==========================================================
Media Queries
==========================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {
  body {
  background: #FF6347;
  color: #FFF;
  }
}

@media screen and (max-width: 480 px) {
  body {
    background: #4682B4;
  }
}
